{% extends 'manages.html' %}
{% block title %}
Student Details
{% endblock title %}



{% block body %}
<div class="container mt-5">
 <h3 class="text-center" ><span>Previous Year Question Paper Details</span> </h3>
  
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}


</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
<br>


<table class="table">
  <thead class="thead-light">
    <tr>
      
      <th scope="col">Feedback ID</th>
      <th scope="col">StudentId</th>
      <th scope="col">Subject Name</th>
      <th scope="col">Module</th>
      <th scope="col">Comment</th>
      <th scope="col">Rating</th>
      

    </tr>
  </thead>
  <tbody>
  {% for post in query %}
    <tr>
      <th scope="row">{{post.FId}}</th>
      <td>{{post.StudentId}}</td>
      <td>{{post.MSub}}</td>
      <td>{{post.Module}}</td>
      <td>{{post.Comment}}</td>
      <td>{{post.Rating}}</td>
      
    </tr>
{% endfor %}
  
  </tbody>
</table>

</div>

{% endblock body %}