{% extends "department.html" %}
{% block title %}
Study Material View
{% endblock title %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% block css %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
        text-align: center;
    }
    h2 {
        color: #333;
        
    }
    p {
        color: #666;
        margin-bottom: 10px;
    }
    a {
        display: block;
        width: 150px;
        padding: 10px;
        text-align: center;
        background-color:burlywood;
        color: #fff;
        text-decoration: none;
        margin-top: 20px;
        margin:20px auto;
        border: 2px solid burlywood;
        box-sizing: border-box;
        border-radius:20px;

    }
    a:hover {
        background-color:burlywood;

    }
    
   
</style>
{% endblock css %}
 
{% block body %}
<h2>Previous Year Question Paper Details</h2>
<p>Scheme: {{ paper.PScheme }}</p>
<p>Department: {{  paper.PDept }}</p>
<p>Semester: {{  paper.PSem }}</p>
<p>Subject: {{  paper.PSub }}</p>
<a href="{{ url_for('view_questionpaper', questionpaper_id= paper.PId) }}">View Questipn Paper</a>
<a href="{{ url_for('download_questionpaper', questionpaper_id= paper.PId) }}">Download Questipn Paper</a>

{% endblock body %}