{% extends 'manages.html' %}
{% block title %}
Add Students
{% endblock title %}



{% block body %}
<div class="container mt-5">
 <h3 class="text-center"><span>Add Student Details</span> </h3>
  
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}


</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
<br>
<div class="container">

<div class="row">

<div class="col-md-4"></div>
<div class="col-md-4">

<form action="/student" method="post">
<div class="form-group">

<label for="sid">Student ID</label>
<input type="text" class="form-control" name="sid" id="sid">
</div>
<br>
<div class="form-group">

<label for="sname">Student Name</label>
<input type="text" class="form-control" name="sname" id="sname">
</div>
<br>
<div class="form-group">

<label for="semail">Student Email</label>
<input type="email" class="form-control" name="semail" id="semail">
</div>
<br>

<div class="form-group">

<label for="spassword">Password</label>
<input type="password" class="form-control" name="spassword" id="spassword">
</div>
<br>
<div class="form-group">
<label for="role">Role</label>
<input type="text" class="form-control" name="role" id="role">
</div>
<br>
<div class="d-grid gap-2">
    <button type="submit" class="btn btn-info" >Add Record</button>
</div>
</form>

<br>

</div>
<div class="col-md-4"></div>

</div></div>
</div>


{% endblock body %}