{% extends 'base.html' %}
{% block title %}
Student
{% endblock title %}
{% block body %}
<div class="container mt-5">
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-4 jumbotron">
<h4 class="text-center bg-info text-dark">Login</h4>
<br>
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<form action="/signin" method="post">
<div class="form-group">
    <label for="semail">Email Address</label>
    <input type="email" class="form-control" id="semail" name="semail" required>
</div>
<div class="form-group">
    <label for="spassword">Password</label>
    <input type="password" class="form-control" id="spassword" name="spassword" required>
  </div>
  <br>
  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-info" >Login</button>
  </div>
  </div>
</form>
</div>
<div class="col-md-4">
</div>
</div>
</div>
{% endblock body %}